*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    display: flex;
}
.logo img{
    margin-top: 20px;
    margin-left: 10px;
    width: 60px;
}
.pro{
    display: flex;
    justify-content: center;
}
.mmgpro{
    color: white;
    text-align: center;
    background-color: rgb(11, 207, 221);
    width: fit-content;
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    border: 1px solid ;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
span{
    padding: 3px;
}
.w{
    color: red;
    background-color: blueviolet;
}
.e{
    color: rgb(58, 238, 58);
    
}
.l{
    color: rgb(251, 255, 42);
    background-color: red;
}
.c{
    color: orange;
}
.o{
    color: purple;
    background-color: rgb(112, 230, 43);
}
.m{
    color: rgb(0, 255, 136);
}
.e1{
    color: rgb(255, 0, 221);
    background-color: white;
}
.t{
    color: rgb(47, 161, 47);
    background-color: orange;
}
.o1{
    color: aqua;
    
}
.m1{
    color: orangered;
}
.m2{
    color: rebeccapurple;
    background-color: rgb(238, 255, 1);
}
.g{
    color: red;
}
.p{
    color: yellow;
    background-color: rgb(0, 0, 0);
}
.r{
    color: yellowgreen;
}
.o2{
    color: rgb(172, 28, 28);
    background-color: pink;
}
.tofos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid ;
  padding: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.tofos h3{
  text-align: center;
  background-color: rgb(102, 102, 226);
  padding: 10px;
}
.tofos p{
  text-align: center;
  margin: 5px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.tofos a{
  text-align: center;
  background-color: rgb(0, 255, 242);
  padding: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.jods{
  margin: 20px;
}
.dons{
  margin: 10px;
}
.dolas{
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.dolas h3{
  text-align: center;
  background-color: rgb(48, 190, 102);
  padding: 10px;
}
.dolas p{
  text-align: center;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.dolas a{
  text-align: center;
  background-color: rgb(180, 102, 226);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
@media(min-width:600px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 100px;
    }
    .pro{
        display: flex;
        justify-content: center;
    }
    .mmgpro{
      width: 400px;
      letter-spacing: 5px;  
    }
    .social{
      width: 300pz;
    }
}
@media(min-width:900px){
    .logo img{
        width: 120px;
    }
    .mmgpro{
        width: 450px;
        letter-spacing: 12px;
    }
    section{
      display: inline
      ;
    }
    .social{
      width: 350px;
    }
}

 .contacts{
  display: flex;
  justify-content: center;
  margin-top: 40px;
 }
 .contacts h4{
  background-color: rgb(207, 74, 74);
  padding: 5px;
  color: white;
  width: 350px;
  text-align: center;
 }
 .allcon img{
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
 }
 .allcon{
  display: flex;
  justify-content: center;
  margin-top: 10px;
 }
.allcon img:hover{
  background-color: rgb(69, 13, 141);
}
body{
  background-color: rgb(252, 202, 136);
  padding-bottom: 100px;
}
.counters{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.counters p{
  border: 1px solid;
  margin: 4px;
  padding: 2px;
  font-size: 10px;
}
#visits{
  background-color: rgb(207, 74, 74);
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}