*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    display: flex;
}
.logo img{
    margin-top: 20px;
    margin-left: 10px;
    width: 60px;
}
.pro{
    display: flex;
    justify-content: center;
}
.mmgpro{
    color: white;
    text-align: center;
    background-color: rgb(11, 207, 221);
    width: fit-content;
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    border: 1px solid ;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
span{
    padding: 3px;
}
.w{
    color: red;
    background-color: blueviolet;
}
.e{
    color: rgb(58, 238, 58);
    
}
.l{
    color: rgb(251, 255, 42);
    background-color: red;
}
.c{
    color: orange;
}
.o{
    color: purple;
    background-color: rgb(112, 230, 43);
}
.m{
    color: rgb(0, 255, 136);
}
.e1{
    color: rgb(255, 0, 221);
    background-color: white;
}
.t{
    color: rgb(47, 161, 47);
    background-color: orange;
}
.o1{
    color: aqua;
    
}
.m1{
    color: orangered;
}
.m2{
    color: rebeccapurple;
    background-color: rgb(238, 255, 1);
}
.g{
    color: red;
}
.p{
    color: yellow;
    background-color: rgb(0, 0, 0);
}
.r{
    color: yellowgreen;
}
.o2{
    color: rgb(172, 28, 28);
    background-color: pink;
}
section{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.collar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  border: 1px solid;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.collar h3{
  text-align: center;
  background-color: rgb(174, 106, 243);
  padding: 10px;
}
.collar p{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}
.collar a{
  text-align: center;
  background-color: rgb(112, 159, 214);
  padding: 3px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: black;
  border-radius: 3px;
}
.ballos{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 350px;
  border: 1px solid;
  padding: 10px;
}
.ballos h3{
  text-align: center;
  background-color: rgb(108, 218, 218);
  padding: 10PX;
}
.ballos p{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}
.ballos a{
  text-align: center;
  padding: 3px;
  background-color: rgb(98, 221, 115);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: black;
  border-radius: 3px;
}
.coalls{
  margin: 20px;
}
body{
  background-color: rgb(255, 189, 189);
  padding-bottom: 100px;
}
@media(min-width:600px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 100px;
    }
    .pro{
        display: flex;
        justify-content: center;
    }
    .mmgpro{
      width: 400px;
      letter-spacing: 5px;  
    }
}
@media(min-width:900px){
    .logo img{
        width: 120px;
    }
    .mmgpro{
        width: 450px;
        letter-spacing: 12px;
    }
    section{
      display: inline
      ;
    }
  
}

 .contacts{
  display: flex;
  justify-content: center;
  margin-top: 25px;
 }
 .contacts h4{
  background-color: rgb(155, 0, 0);
  padding: 5px;
  color: white;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }
 .allcon img{
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  margin: 4px;
 }
 .allcon{
  display: flex;
  justify-content: center;
  margin-top: 10px;
 }
.allcon img:hover{
  background-color: rgb(69, 13, 141);
}